/* Componentes */

.important-indicator
	margin-bottom 2.2em

	.indicator
		text-align center
		font-size 5em
		margin 0px
		line-height 1em		

	.description
		font-size 1.3em
		margin 0px
		text-align center



.simple-button
	background-color dark_grey
	padding 0px 2em
	display inline-block
	color neutral

.sidebar
	position fixed
	top 51px
	bottom 0
	left 0
	z-index 1000
	display block	
	overflow-x hidden
	overflow-y auto 	
	color neutral
	font-family font_light
	padding 0px

	li
		color neutral	

		a
			padding-left 2.2em
			color neutral !important

			&:hover				
				color neutral
				border-right 4px solid lighten(neutral, 70%)

			&.active
				background-color #eee
				border-right 4px solid principal
				color principal !important

			&:active
				border-right 2px solid principal
				box-shadow inset 1px 1px 2px rgba(0,0,0,0.25)
				transform 
				
				

		i
			padding-right 2em

	.nav-sidebar
		
		padding-top 2.5em


.section-title
	margin-bottom 1em
	font-size 2.5em

	*
		font-family font_light

	.title
		font-size 1em
		margin 0px				
		letter-spacing 0.1em
		text-transform uppercase

	.complement
		margin 0px
		font-size 0.5em


.sidebox
	background-color light_background
	padding 0.3em
	position relative

	.body
		padding 0.5em
		width 100%
		height 100%
		padding 0.5em

	.right-button
		position absolute
		bottom 0
		right 0 


.subtitle-wrapper
	margin-top 2.5em
	margin-bottom 1.2em
	
	*
		font-family font_light
	
	.subtitle
		margin 0px
		width 100%
		border-bottom 1px solid neutral
		text-transform uppercase
		font-size 2.3rem

	.subtitle-complement
		margin 0px
		
	

.tm-panel
	background-color light_background
	border-left 4px solid principal
	border-top 2px solid principal
	border-right 1px solid dark_grey
	margin-bottom 1em
	position relative

	.tm-panel-heading, .tm-panel-body
		padding-left 2em

	.tm-panel-heading
		padding-top 0.6em

	.tm-panel-body
		&.fix-height
			height 4em

	.tm-panel-footer
		border-top 1px solid dark_grey
		margin 0em 1em
		padding 0.5em 0em

	.icon-box
		background-color principal
		width 3em
		height @width		
		padding 0.3em

		img
			width 2.2em

	
		
	
	
	
	

