/* treatment_form.styl 
Estilos para el formulario de registro de tratamiento.

*/

background_gray = #f2f2f2

.treatment-resumen
	background-color background_gray
	position fixed
	right 0px
	width 28em