{% extends "syslayout.html" %}

{% block title %}
	| Amministratore
{% endblock %}

{% block sidebar_options %}
	<li class="active">
		<a href="#/dashboard">Dashboard</a>
	</li>
	<li class="">
		<a href="#/doctors">Doctores</a>
	</li>
	<li>
		<a href="#/vademecu">Especialidades</a>
	</li>
	<li>
		<a href="#/vademecu">Vademecu</a>
	</li>
{% endblock %}
	
{% block module_js %}
	<script src="static/js/admin.js"></script>
	<script src="https://apis.google.com/js/client.js?onload=init_app"></script>
{% endblock %}