{% extends "syslayout.html" %}

{% block title %}
	| Gestión de tratamientos
{% endblock %}

{% block sidebar_options %}
	<li class="active">
		<a href="#/">Inicio</a>
	</li>
	<li>
		<a href="#/pacientes">Pacientes</a>
	</li>
	<li>
		<a href="#/tratamientos">Tratamientos</a>
	</li>
	<li>
		<a href="">Vademecu</a>
	</li>
{% endblock %}

{% block module_js %}
	<script src="static/js/manager.js"></script>
	<script src="https://apis.google.com/js/client.js?onload=init_app"></script>
{% endblock module_js %}
