{% extends "syslayout.html" %}

{% block title %}
	| Gestión de tratamientos
{% endblock %}

{% block module_css %}
	
	<link rel="stylesheet" href="static/css/vendor/datepicker3.css">
	<link rel="stylesheet" href="static/css/vendor/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="static/css/manager.css">
{% endblock module_css %}

{% block sidebar_options %}
	<li class="active">
		<a href="#/">Inicio</a>
	</li>
	<li>
		<a href="#/pacientes">Pacientes</a>
	</li>
	<li>
		<a href="#/tratamientos">Tratamientos</a>
	</li>
	<li>
		<a href="#/medicamentos">Vademecu</a> 
	</li>
{% endblock %}

{% block hiddens %}
	<input id="doctor_key" type="hidden" value="{{doctor.key.urlsafe()}}" >
{% endblock hiddens %}


{% block module_js %}
	<script src="static/js/manager.js"></script>	
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="static/js/vendor/bootstrap-datepicker.js"></script>

	<script src="https://apis.google.com/js/client.js?onload=init_app"></script>

	<script src="static/js/vendor/moment.min.js"></script>
	<script src="static/js/vendor/bootstrap-datetimepicker.min.js"></script>
{% endblock module_js %}
