
<div class="row-fluid">
	<div class="col-md-8">

		<form action="" name="form" class="form-horizontal">
			<div class="form-group">
				<label for="Tipo de sangre" class="control-label col-md-4">
					Objetivos
				</label>
				<div class="col-md-8">
					<textarea type="textarea" class="form-control" ng-model="treatment.objetives" name="objetives"></textarea>				
				</div>
			</div>			

			<h4 class="page-header">
				Medicamentos
			</h4>
			<button class="btn btn-primary" ng-click="add_medicament_take()">Agregar</button>
			<div ng-repeat="m in medicaments" class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-heading">
						Nuevo medicamento	
					</h3>
				</div>
				<div class="panel-body">
					<input type="text" ng-model="m.text">	
				</div>				
			</div>

		</form>
	</div>	
	
	
	<div class="col-md-4">
		<h3>Datos del paciente</h3>
	</div>
</div>