
{% raw %}

<div class="section-title">
	<h1 class="title">{{section_title}}</h1>
	<h3 class="complement">Paciente: Abelardo Torres</h3>
</div>

<div class="row-fluid clearfix">
	<div class="col-md-6 sidebox">
		<div class="subtitle-wrapper without-margin">
			<h4 class="subtitle text-center">Descripción</h4>	
		</div>
		
		<div class="body">			
			
			<div class="row-fluid clearfix">
				<div class="col-md-8">
					<span class="standout">Régimen: </span>
					<br/>
					{{action.description()}}
				</div>
				<div class="col-md-4">
					<span class="standout">Medido en: </span>
					<br/>
					{{action.measurement.unit}}
				</div>				
			</div>

			<p class="standout separate">Indicaciones:</p>
			<p>{{action.measurement.indications}}</p>
		</div>
		
	</div>
	<div class="col-md-6 squash">
		<p class="standout-more text-center">Cumplimiento</p>

		<div>
			<p class="text-center standout-more-more">{{action.fulfillment_porcentage | number:1}}%</p>
			<div class="progress">
				<div class="progress-bar" style="width: {{action.fulfillment_porcentage}}%"></div>
			</div>
		</div>
	</div>
</div>

<div class="subtitle-wrapper">
	<h4 class="subtitle">
		Detalles
	</h4>	
	<p class="subtitle-complement push" ng-show="treatment.last_report_time">
		Último reporte del {{treatment.last_report_time_readable()}}
	</p>
</div>


<div class="row-fluid clearfix">
	<div class="col-md-4">
		<p class="text-center standout more">Promedio</p>
		<p class="text-center standout too-much without-margin fit-line">{{action.measurement.average() | number:2}}</p>
		<p class="text-center">{{action.measurement.unit}}</p>
	</div>
	<div class="col-md-4">
		<p class="text-center standout more">Registro más alto</p>
		<p class="text-center standout too-much without-margin fit-line">{{action.measurement.highter_record()}}</p>
		<p class="text-center">{{action.measurement.unit}}</p>
	</div>
	<div class="col-md-4">
		<p class="text-center standout more">Registro más bajo</p>
		<p class="text-center standout too-much without-margin fit-line">{{action.measurement.lowest_record()}}</p>
		<p class="text-center">{{action.measurement.unit}}</p>
	</div>
</div>

<div id="measurement_chart" class="separate">
	
</div>

<div class="separate">
	<span class="standout more">
		Últimos 30 días	
	</span>	
	<div class="btn-group push">
		<button class="btn btn-default" type="button">Todos</button>
		<button class="btn btn-default" type="button">No realizados</button>
		<button class="btn btn-default" type="button">Realizados</button>
	</div>
</div>

<table class="table table-hover">
		<thead>
			<tr>
				<th>Dia</th>
				<th>Realizado a las</th>
				<th>Debió realizar</th>
				<th>Diferencia</th>
				<th>Medición</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="f in action.fulfillments">
				<td>{{f.day_readable}}</td>
				<td>{{f.realization_time}}</td>
				<td>{{f.realized_time}}</td>
				<td>{{f.difference_time}}</td>
				<td>{{f.value}}</td>
			</tr>
		</tbody>
	</table>


{% endraw %}