{% extends "syslayout.html" %}

{% block title %}
	| Amministratore
{% endblock %}

{% block module_css %}
	<link rel="stylesheet" href="static/css/syslayout.css">			
{% endblock module_css %}

{% block sidebar_options %}
	<tm-option url="#/" title="Dashboard" iconclass="glyphicon glyphicon-home"></tm-option>	
	<tm-option url="#/doctors" title="Doctores" iconclass="glyphicon glyphicon-user"></tm-option>	
	<tm-option url="#/especialidades" title="Especialidades" iconclass="glyphicon glyphicon-star"></tm-option>	
	<tm-option url="#/medicamentos" title="Vademecu" iconclass="glyphicon glyphicon-tint"></tm-option>		
{% endblock %}
	
{% block module_js %}
	<script src="static/js/utils.js"></script>
	<script src="static/js/tmComponents.js"></script>	
	<script src="static/js/admin.js"></script>
	<script src="https://apis.google.com/js/client.js?onload=init_app"></script>
{% endblock %}