
{% raw %}
	
	<div class="section-title">
		<h1 class="title">Dashboard</h1>
	</div>

	<div class="row">
		<div class="col-md-6"></div>
		<div class="col-md-6">
			<div class="important-indicator">
				<p class="indicator">20</p>
				<p class="description">Tratamientos activos</p>
			</div>

			<div class="important-indicator">
				<p class="indicator">
					42%
				</p>
				<p class="description">Cumplimiento promedio</p>
			</div>

			<div class="important-indicator">
				<div id="chart"></div>
				<p class="description">Cumplimiento promedio</p>
			</div>					
		</div>
	</div>
	
    
{% endraw %}