{% extends "syslayout.html" %}

{% block title %}
	| Gestión de tratamientos
{% endblock %}

{% block module_css %}
	
	<link rel="stylesheet" href="static/css/vendor/datepicker3.css">
	<link rel="stylesheet" href="static/css/vendor/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="static/css/manager.css">
{% endblock module_css %}

{% block sidebar_options %}
	<tm-option url="#/" title="Dashboard" iconclass="glyphicon glyphicon-home"></tm-option>	
	<tm-option url="#/pacientes" title="Pacientes" iconclass="glyphicon glyphicon-user"></tm-option>	
	<tm-option url="#/tratamientos" title="Tratamientos" iconclass="glyphicon glyphicon-phone"></tm-option>	
	<tm-option url="#/medicamentos" title="Vademecum" iconclass="glyphicon glyphicon-tint"></tm-option>	
{% endblock %}

{% block hiddens %}
	<input id="doctor_key" type="hidden" value="{{doctor.key.urlsafe()}}" >
{% endblock hiddens %}


{% block module_js %}	
		
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">
		google.load('visualization', '1.0', {'packages':['corechart'], 'language': 'es' });	
	</script>

	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="static/js/vendor/bootstrap.min.js"></script>
	<script src="static/js/vendor/bootstrap-datepicker.js"></script>
	<script src="static/js/utils.js"></script>
	<script src="static/js/tmComponents.js"></script>	
	<script src="static/js/consts.js"></script>
	<script src="static/js/classes.js"></script>
	<script src="static/js/tm.js"></script>	

	<script src="static/js/services/treatmentsutils.js"></script>	
	
	<script src="static/js/dashboard.js"></script>
	<script src="static/js/patients/form.js"></script>
	<script src="static/js/patients/details.js"></script>
	<script src="static/js/patients/manager.js"></script>
	<script src="static/js/treatments/manager.js"></script>
	<script src="static/js/treatments/details.js"></script>
	<script src="static/js/treatments/form.js"></script>
	<script src="static/js/treatments/action_details.js"></script>
	<script src="static/js/medicaments/form.js"></script>
	<script src="static/js/medicaments/manager.js"></script>			

	<script src="static/js/vendor/moment.min.js"></script>
	<script src="static/js/vendor/bootstrap-datetimepicker.min.js"></script>

	<script src="https://apis.google.com/js/client.js?onload=init_app"></script>

{% endblock module_js %}


