{% raw %}
	
	<a href="#/paciente/form" class="btn btn-primary" type="button">Registrar</a>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>Nombre y Apellido</th>
				<th>Sexo</th>
				<th></th>
			</tr>	
		</thead>		
		<tbody>
			<tr ng-repeat="patient in patients">
				<td>
					{{patient.person.first_name}} {{patient.person.last_name}}
				</td>
				<td>
					{{patient.person.gender}}
				</td>
				<td>
					<div class="btn-group">
						<a href="" class="btn btn-default">
							<i class="glyphicon glyphicon-eye-open">								
							</i>		
						</a>
						<a href="" class="btn btn-default">
							<i class="glyphicon glyphicon-edit">								
							</i>		
						</a>
						<div class="btn-group">
						    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						      Más acciones
						      <span class="caret"></span>
						    </button>
						    <ul class="dropdown-menu">
						      <li>
						      	<a ng-hide="patient.active_treatment_key" href="#/paciente/{{patient.id}}/tratamiento/form">Asignar tratamiento</a>
						      	<a ng-show="patient.active_treatment_key" href="#/tratamiento/{{patient.active_treatment_key}}">Ver tratamiento</a>
						      </li>
						      <li><a href="#">Eliminar</a></li>
						    </ul>
						  </div>
					</div>
				</td>
			</tr>	
		</tbody>
		
	</table>

{% endraw %}