
{% import "includes/forms.html" as forms %}

<h1>Registro de pacientes</h1>

<form action="" class="form-horizontal" name="form" ng-submit="savePatient()">

	{{forms.person_form('patient')}}

	<div class="form-group">
		<label for="Tipo de sangre" class="control-label col-md-2">
			Tipo de sangre
		</label>
		<div class="col-md-4">
			<select type="text" class="form-control"
				name="blood_type"
			 	ng-model="patient.blood_type"
			 	ng-options="bt for bt in blood_types">
				<option value=""> - Tipo de sangre - </option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="Tipo de sangre" class="control-label col-md-2">
			Fecha de nacimiento
		</label>
		<div class="col-md-4">
			<div class="input-group date">
			  <input type="text" class="form-control" ng-model="patient.readable_birthday" name="birthday" disabled>
			  <span class="input-group-addon">
			  	<i class="glyphicon glyphicon-th"></i>
			  </span>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="Tipo de sangre" class="control-label col-md-2">
			Alergias
		</label>
		<div class="col-md-4">
			<textarea type="textarea" class="form-control" ng-model="patient.allergies" name="allergies"></textarea>
		</div>
	</div>

	{% include "includes/submit_button.html" %}

</form>

