{% raw %}

	<div class="section-title">
		<h1 class="title">{{patient.person.short_name()}}</h1>
		<h3 class="complement">Registrado el 05/04/13</h3>
	</div>

	<div class="row-fluid clearfix">
		<div class="col-md-5">
			<p class="standout">
				Nombre completo
			</p>
			<p>
				{{patient.person.first_name}} {{patient.person.last_name}}
			</p>			
		</div>
		<div class="col-md-2">
			<p class="standout">Edad</p>
			<p>{{patient.age}}</p>
		</div>
		<div class="col-md-5">
			<p class="standout">Fecha de Nacimiento</p>
			<p>{{patient.birthday_readable}}</p>
		</div>		
	</div>

	<div class="row-fluid clearfix">
		<div class="col-md-7">
			<p class="standout">
				Alergias
			</p>
			<p>
				{{patient.allergies}}
			</p>
		</div>
		<div class="col-md-5">
			<p class="standout">
				Sexo
			</p>
			<p>
				{{patient.person.gender_readable}}
			</p>
		</div>
	</div>

	<div class="subtitle-wrapper">
		<h4 class="subtitle">
			Tratamientos
		</h4>
	</div>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>Asignado</th>
				<th>Finalizado</th>
				<th>Objetivos</th>	
				<th>Cumplimiento</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="t in treatments">
				<td>{{t.init_date_readable_short()}}</td>
				<td>--</td>
				<td>{{t.objetives}}</td>
				<td class="standout">{{t.fulfillment_porcentage}}%</td>
				<td>
					<div class="btn-group">
						<a class="btn btn-default" href="#/tratamiento/{{t.key}}">
							<i class="glyphicon glyphicon-eye-open"></i>
						</a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

{% endraw %}
