
{% extends "boilerplate.html" %}

{% block css %}
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/bootstrap-theme.css">
	
	<link rel="stylesheet" href="static/css/syslayout.css">

	{% block module_css %}
		
	{% endblock module_css %}
{% endblock %}

{% block content %}
	

	<div ng-app="logic">
		<nav class="navbar navbar-default navbar-fixed-top stop-border" role="navigation">
			<div class="container-fluid">
				<span href="#" class="box-logo">
					<img src="static/img/only-symbol-white.png" alt="">
				</span>
				<div class="navbar-header">					
					<a href="" class="navbar-brand green">						
						Treatments Manager 
						<span class="black light lateral">							
							{% if doctor %}
								Dr. {{doctor.person.first_name}} {{doctor.person.last_name}}</a>
							{% else %}
								Amministratore
							{% endif %}
						</span>
					</a>
				</div>
				<div class="navbar-right ">
					<ul>
						<li class="left-border-dotted clickable">
							<a href="{{logout_url}}" class="glyphicon glyphicon-log-out"></a>
						</li>
					</ul>
					
				</div>		
			</div>
		</nav>

		<div class="container-fluid ng-hide" ng-show="is_backend_ready">
			<div class="row-fluid clearfix">
				<nav class="col-md-2 sidebar">
					<tm-menu>
						{% block sidebar_options %}

						{% endblock %}					
					</tm-menu>
				</nav>
				<section class="col-md-10 col-md-offset-2 main">
					<div class="row-fluid">
						<div class="md-col-12" ng-view>
														
						</div>
					</div>
				</section>
			</div>

		</div>
	</div>

{% endblock %}

{% block js %}	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-route.min.js"></script>

	{% block module_js %}
	{% endblock %}	

{% endblock %}